<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1>Team Name: <%="#{@name}"%></h1>
    <h2>Coach: <%= "#{@coach}" %></h2>
   <h3>Point Guard: <%= "#{@pg}" %></h3>
   <h4>Shooting Guard: <%= "#{@sg}" %></h4>
   <h5>Small Forward: <%= "#{@sf}" %></h5>
   <h5>Power Forward: <%= "#{@pf}" %></h5>
   <h6>Center: <%= "#{@center}" %></h6>
    
 </body>
</html>


